<h1>Contact Page</h1>
<a href="/home">HOME</a> |
<a href="/about">About</a> |
<a href="/contact">Contact</a> |
<br>
<hr>
<br>

<form method="get" action="/process">
    <h1>Enter your marks</h1>
    DSA: <input type="number" name="dsa" placeholder="Enter DSA marks" min="0" max="100" autocapitalize="off" required /> <br>
    Pyhton: <input type="number" name="python" placeholder="Enter Pyhton marks" min="0" autocapitalize="off" max="100" required /> <br>
    Java: <input type="number" name="java" placeholder="Enter Java marks" min="0" max="100" autocapitalize="off" required /> <br>
    ML <input type="number" name="ml" placeholder="Enter  marks" min="0" max="100" autocapitalize="off" required /> <br>
    OS: <input type="number" name="os" placeholder="Enter OS marks" min="0" max="100" autocapitalize="off" required /> <br>
    <input type="submit"/>
</form>
